name: Backend CI/CD

on:
  push:
    branches: [ main ]
    paths: ['Server/**']

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write  
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # 1. Install Go (Necessary for Snyk to resolve dependencies)
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25' # Adjust to your Go version
          cache: true
              # Replace 'backend' with the actual folder name where go.mod/go.sum live
          cache-dependency-path: Server/MuchToDo/go.sum
      # 2. Security Scan (Using Golang action)
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/golang@master
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --file=Server/MuchToDo/go.mod

      # 3. Login to GitHub Container Registry
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # 4. Build and Push to GHCR
      - name: Build and Push
        run: |
          REPO_LOWER=$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
          docker build -t ghcr.io/$REPO_LOWER/backend:latest ./Server/MuchToDo
          docker tag ghcr.io/$REPO_LOWER/backend:latest ghcr.io/$REPO_LOWER/backend:${{ github.sha }}
          docker push ghcr.io/$REPO_LOWER/backend:latest
          docker push ghcr.io/$REPO_LOWER/backend:${{ github.sha }}

      # 5. AWS Auth
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-1
          
      # 6. Deploy: Trigger Rolling Update
      - name: Trigger Rolling Update on ASG
        run: |
          aws autoscaling start-instance-refresh \
            --auto-scaling-group-name starttech-backend-asg \
            --preferences '{"MinHealthyPercentage": 50}'

